<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frag :: head">
    <meta charset="UTF-8">
    <title>Appoinment</title>
</head>
<body>
<div th:replace="layout/frag :: header"></div>
<div class="page-banner overlay-dark bg-image" style="background-image: url(/assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a th:href="@{/home}">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="#">Appoinment</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal" th:text="${user.name}"></h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div class="container" style="margin-bottom: 100px;margin-top: 100px">
    <h1 style="text-align: center;font-size: 40px; margin-bottom: 50px">Your Appointment</h1>
    <p>
        <a class="btn btn-primary" th:href="@{/create-appoinment/{id}(id = ${user.id})}"
           style="margin-bottom: 30px;font-size: 15px;color: black">CREATE AN APPOINTMENT</a>
    </p>
    <table class="table table-bordered">
        <thead>
        <tr>
            <th style="font-size: 15px">Date</th>
            <th style="font-size: 15px">Time</th>
            <th style="font-size: 15px">Location</th>
            <th style="font-size: 15px">Message</th>
        </tr>
        </thead>
        <tbody>
        <div th:switch="${appoinment}">
            <h2 th:case="null">No appoinment yet!</h2>
            <div th:case="*">
                <tr th:each="item: ${appoinment}">
                    <td width="150" th:text="${item.date}"></td>
                    <td width="150" th:text="${item.time}"></td>
                    <td width="150" th:text="${item.location}"></td>
                    <td width="500" th:text="${item.description}"></td>
                    <td width="215" ><a style="font-size: 15px"
                                        class="btn btn-danger btn-sm"
                                        th:href="@{/delete-appointment/{id}(id = ${item.notificationId})}">Delete</a></td>
                </tr>
            </div>
        </div>


        </tbody>
    </table>
</div>


<div th:replace="layout/frag :: footer"></div>
<div th:replace="layout/frag :: script"></div>
</body>
</html>