<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/frag :: head"><title>One Health - Medical Assistant</title></head>
<body>

<div th:replace="layout/fragment :: header"></div>

<div class="page-banner overlay-dark bg-image" style="background-image: url(/assets/img/bg_image_1.jpg);">
    <div class="banner-section">
        <div class="container text-center wow fadeInUp">
            <nav aria-label="Breadcrumb">
                <ol class="breadcrumb breadcrumb-dark bg-transparent justify-content-center py-0 mb-2">
                    <li class="breadcrumb-item"><a href="/home">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="#">Personal</li>
                </ol>
            </nav>
            <h1 class="font-weight-normal" th:text="${user.name}"></h1>
        </div> <!-- .container -->
    </div> <!-- .banner-section -->
</div> <!-- .page-banner -->

<div style="margin-top: 50px">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div>
                    <img style=":width 100px height 100px;"
                         th:src="@{${user.avatar}}" alt=""
                         class="img-fluid wc-image">
                </div>
            </div>

            <div class="col-md-6">
                <form action="#" method="post" class="form">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Weight</span>

                                <strong th:text="${personHealth.weight}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Height</span>

                                <strong th:text="${personHealth.height}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Blood Pressure</span>

                                <strong th:text="${personHealth.bloodPressure}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Blood Glucose</span>

                                <strong th:text="${personHealth.bloodGlucose}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Blood Oxygen</span>

                                <strong th:text="${personHealth.bloodOxygen}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <span class="pull-left">Blood Temperature</span>

                                <strong th:text="${personHealth.bodyTemperature}"
                                        class="pull-right" style="float:right;" ></strong>
                                <strong class="pull-right" style="float:right;"></strong>
                            </div>
                        </li>

                        <li class="list-group-item">
                            <div class="clearfix">
                                <a th:href="@{/delete/{id}(id = ${personHealth.userId})}"
                                   class="btn btn-danger" style="float: right">Delete Account</a>
                                <a th:href="@{/edit/{id}(id = ${personHealth.userId})}"
                                   class="btn btn-info" style="float: right">Edit</a>
                            </div>
                        </li>
                    </ul>
                </form>
            </div>
        </div>
    </div>
</div>

<div class="page-section">
</div>
<div th:replace="layout/frag :: footer"></div>
<div th:replace="layout/frag :: script"></div>
</body>
</html>